.playerCardRoot {
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom, #FFA07A, #FF7F50);
  }
  
  .playerCardTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .playerCardSubheader {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 16px;
  }
  
  .PlayerCard-stat {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
  }
  
  .PlayerCard-stat-label {
    font-weight: bold;
    margin-right: 8px;
  }