.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  
}
.jorden-kobe
{
  background-image: url('./images/jorden-on-kobe.jpg');
  background-size: cover;
  height: 35rem;
  width: 35rem;
  
}
.out
{
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-header{ color: #fff;
   font-family: 'Righteous', cursive;
    font-size: 65px;
     font-weight: normal;
      line-height: 60px;
       margin: 10px 0 20px;
        text-transform: uppercase;
         text-shadow: 2px 2px 0 #000;
         margin: 10px 0 24px;
          text-align: center;
        }


